.campaign-table {
  .campaign-table__container {
    height: calc(100vh - 112px - 60px);

    .table__column-content {
      // cursor: pointer !important;
      .table-icon {
        width: 20px;
        height: 20px;
      }
    }

    ::ng-deep .campaign-list-table__col-1 {
      min-width: 150px;
      width: 10%;
    }

    ::ng-deep .campaign-list-table__col-2 {
      min-width: 300px;
      width: 30%;
    }

    ::ng-deep .campaign-list-table__col-3 {
      min-width: 160px;
      width: 30%;
    }

    ::ng-deep .campaign-list-table__col-4 {
      min-width: 150px;
      width: 25%;
    }

    ::ng-deep .campaign-list-table__col-5 {
      min-width: 50px;
      width: 5%;
    }
  }

  .campaign-table__file {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
}
