<div class="table__paginator-container applications-table">
  <div class="applications-table__container table__container">
    <table class="table" mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th
          class="table__column-header applications-table__col-1"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          ID
        </th>
        <td
          class="table__column-content applications-table__col-1"
          mat-cell
          *matCellDef="let element"
        >
          <p class="selected-text">{{ element.id }}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th
          class="table__column-header applications-table__col-1"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          Title
        </th>
        <td
          class="table__column-content applications-table__col-1"
          mat-cell
          *matCellDef="let element"
        >
          <p class="selected-text">{{ element.title }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="linkToCampaigns">
        <th
          class="table__column-header applications-table__col-1"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          Link to campaing
        </th>
        <td
          class="table__column-content applications-table__col-1"
          mat-cell
          *matCellDef="let element"
        >
          <p class="selected-text">{{ element.linkToCampaigns }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th
          class="table__column-header applications-table__col-1"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          Description
        </th>
        <td
          class="table__column-content applications-table__col-1"
          mat-cell
          *matCellDef="let element"
        >
          <p class="selected-text">{{ element.description }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th
          class="table__column-header applications-table__col-1"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          Version
        </th>
        <td
          class="table__column-content applications-table__col-1"
          mat-cell
          *matCellDef="let element"
        >
          <p class="selected-text">{{ element.version }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th
          class="table__column-header applications-table__col-1"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          Is active
        </th>
        <td
          class="table__column-content applications-table__col-1"
          mat-cell
          *matCellDef="let element"
        >
          <p class="selected-text">{{ element.isActive }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th
          class="table__column-header applications-table__col-4"
          mat-header-cell
          *matHeaderCellDef
        ></th>
        <td
          class="table__column-content applications-table__col-4"
          mat-cell
          *matCellDef="let element"
        >
          <p class="selected-text">
            <button
              mat-icon-button
              disableRipple
              (click)="deleteApplication(element.id)"
            >
              <mat-icon svgIcon="trash-can"></mat-icon>
            </button>
            <button
              mat-icon-button
              disableRipple
              (click)="updateApplication(element.id)"
            >
              <mat-icon class="table-icon" svgIcon="edit"></mat-icon>
            </button>
          </p>
        </td>
      </ng-container>

      <tr
        class="table__table-row-header"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        class="table__table-row"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>

    <p class="table__empty-table" *ngIf="!tableData?.length">Table is empty</p>
  </div>
</div>
